<h1>Datasets#index</h1>

<% if @datasets.empty? %>
	<div class='alert alert-error'>Nothing to see here!</div>
<% else %>
	<ul>
		<% @datasets.each do |x| %>
			<li><%= link_to x.shortname, x %></li>
		<% end %>
	</ul>
<% end %>
