<h1>Datasets#index</h1>

<ul>
	<% @datasets.each do |x| %>
		<li><%= link_to x.shortname, x %></li>
	<% end %>
	<% if @datasets.empty? %>
		<li>Nothing to see here - this change should never be deployed</li>
	<% end %>
</ul>